<div class="grid-wrapper blog-list-blocks">
  {% for post in site.posts %}
    {% if forloop.index <= 8 %}
      <div class="blog-block-item grid__item width-3-12 width-6-12-m">
        <div class="post-title grid__item">
          <h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4>
        </div>
        <p class="byline">By {{ post.author }} | {{ post.date | date: '%B %d, %Y' }}</p>
        <p>{{ post.content | strip_html | truncatewords: 75 }}</p>
        <a class="dark-background" href="{{site.baseurl}}{{ post.url }}">Read More ></a>
      </div>
    {% endif %}
  {% endfor %}
</div>
