// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.

@import "colors";
@import url('https://fonts.googleapis.com/css?family=PT+Mono|Titillium+Web:200,400,700');

html,
body {
  font-size: 100%;
  background-color: $dark-blue;
}

body {
  margin: 0;
}

div.content {
  padding: 0 13rem;
  @media screen and (max-width: 1170px) { padding: 0 6rem; }
  @media screen and (max-width: 480px) { padding: 0 2rem; }
}

.hide {
  &-tablet {
    @media screen and (max-width: 768px) { display: none; }
  }
  &-mobile {
    @media screen and (max-width: 480px) { display: none; }
  }
}

.tablet-fullwidth {
  @media screen and (max-width: 768px) {
    margin-left: -6rem !important;
    margin-right: -6rem !important;
  } 
  @media screen and (max-width: 480px) {
    margin-left: -2rem !important;
    margin-right: -2rem !important;
  }
}

.mobile-fullwidth {
  @media screen and (max-width: 480px) {
    margin-left: -2rem !important;
    margin-right: -2rem !important;
  }
}

* {
  font-family: 'Titillium Web', sans-serif;
  color: $white;
  line-height: 1rem;
}

h1,h2,h3,h4,h5,h6,p {
  color: $white;
  margin: 2rem 0;
}

h1 {
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 200;
  @media screen and (max-width: 768px) {
    font-size: 3rem;
    line-height: 3rem;    
  }
}

h2 {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 200;
  @media screen and (max-width: 768px) {
    font-size: 2rem;
    line-height: 2rem;    
  }
}

h3 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
    line-height: 1rem;    
  }
}

h4 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 400;
  @media screen and (max-width: 768px) {
    font-size: .75rem;
    line-height: .75rem;    
  }
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  &.light {
    color: $white;
  }
}

a {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: $teal;
  cursor: pointer;
  &.dark-background{ color: $yellow; }
}

a.button-cta {
  text-align: center;
  color: $dark-blue;
  background-color: $yellow;
  border: 2px solid $yellow;
  text-transform: uppercase;
  text-decoration: none;
  margin: .5rem;
  padding: 12px 40px;
  white-space: nowrap;
  line-height: 3.5;
  transition: background .2s ease-in 0s;
  &:hover, &:active, &:focus {
    background-color: $dark-yellow;
    border-color: $dark-yellow;
    color: $yellow;
  }
  @media screen and (max-width: 768px) {
    line-height: 1.5;
  }
}

a.button-cta.secondary {
  background: none;
  border: 2px solid $yellow;
  color: $yellow;
  &:hover, &:active, &:focus {
    background-color: $dark-yellow;
    border-color: $dark-yellow;
    color: $yellow;
  }
}

code, pre {
  font-family: 'PT Mono', monospace;
}

hr {
  border-width: 2px;
  margin: 6rem 0 4rem 0;
}

img { max-width: 100%; }

.logo-wrapper {
  display: inline-block;
  max-width: 13.5rem;
  padding-top: 1rem;
}
.wf-logo {
  width: 100%;
}