/*Add the colors to a list*/
$blog-list-colors: $red, $orange, $yellow, $teal, $blue;
$blog-block-colors: $red, $orange, $yellow, $teal;

/*Mixin to grab a random color from the list*/
@mixin pick-background-color() {
  /*generate a random number between 1 and the length of the list*/ 
  $random-background-color: random(length($blog-list-colors));

  /*return an item from the list based on the random number*/
  background: nth($blog-list-colors, $random-background-color);
}

@mixin pick-block-color() {
  $random-block-color: random(length($blog-block-colors));

  border-color: nth($blog-block-colors, $random-block-color);
  color: nth($blog-block-colors, $random-block-color);
}

@for $i from 1 through 50 {
  .blog-list-item:nth-child(#{$i}) > .post-title {
    @include pick-background-color;
  }
} 

@for $x from 1 through 50 {
  .blog-block-item:nth-child(#{$x}) > .post-title {
    @include pick-block-color;
  }
}
