/*Add the colors to a list*/
$list: $red, $orange, $yellow, $teal, $blue;

/*Mixin to grab a random color from the list*/
@mixin pick-color() {
  /*generate a random number between 1 and the length of the list*/ 
  $random-color: random(length($list));
  
  /*return an item from the list based on the random number*/
  background: nth($list, $random-color);
}

@for $i from 1 through 50 {
  .blog-list-item:nth-child(#{$i}) > .post-title {
    @include pick-color;
  }
}
