---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

$baseurl: "{{ site.baseurl }}";

@import "global";
@import "grid";
@import "colors";
@import "asciidoc";
@import "random-color";

@import "includes/header";
@import "includes/project-footer";
@import "includes/redhat-footer";
@import "includes/share-page";

@import "layouts/home";
@import "layouts/docs";
@import "layouts/downloads";
@import "layouts/blog";
@import "layouts/error-page";
