// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.

.wildfly-downloads {
  h2 {
    text-align: center;
  }

  .download-ctas {
    text-align: center;
    @media screen and (max-width: 768px) {
      a.button-cta {
        display: block;
        margin: 1rem auto;
        
        min-width: 230px;
      }
    }
  }
}

.version-row {
  background-color: $blue;
  margin: 3rem 0;
  padding: 1rem;

  &:first-of-type {
    .version-name { border-bottom: 3px solid $white; }
  }
  .version-id {
    @media screen and (max-width: 1380px) and (min-width: 1025px) {
      h2 {
        font-size: 2rem;
        line-height: 2rem; 
      }
    }
    @media screen and (max-width: 768px) {
      grid-column: span 12;
    }
  }
  .version-content {
    @media screen and (max-width: 768px) {
      grid-column: span 12;
    }
  }
}

.version-table {
  justify-self: center;
  margin-bottom: 1rem;
  max-width: 20.3rem;
  .version-name {
    text-align: left;
    padding-bottom: .3rem;
    border-bottom: 1px solid $teal;
    font-weight: 400;
    &.final {
      font-weight: 700;
      text-transform: uppercase;
    }
    .release-date {
      float: right;
      text-transform: initial;
    }
  }

  .description { min-width: 13rem; }
  .licence { min-width: 3rem; }
  .links {
    min-width: 55px;
    a:nth-of-type(2) {
      &:before {
        content: '|';
        color: $white;
        margin: 0 5px 0 3px;
      }
    }
  }
  td, a { font-size: .875rem; }
  @media screen and (max-width: 1024px) {
    grid-column: span 12;
  }
}
