// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.

.wildfly-downloads {
  h2 {
    text-align: center;
  }

  .download-ctas {
    text-align: center;
  }
}

.version-row {
  background-color: $blue;
  margin: 3rem 0;
  padding: 1rem 1rem 2rem 1rem;

  &:first-of-type {
    .version-name { border-bottom: 3px solid $white; }
  }
}

.version-table {
  justify-self: center;
  .version-name {
    text-align: left;
    padding-bottom: .3rem;
    border-bottom: 1px solid $teal;
    font-weight: 400;
    &.final {
      font-weight: 700;
      text-transform: uppercase;
    }
    .release-date {
      float: right;
      text-transform: initial;
    }
  }

  .description { min-width: 13rem; }
  .licence { min-width: 3rem; }
  .links a:nth-of-type(2) {
    &:before {
      content: '|';
      color: $white;
      margin: 0 5px 0 3px;
    }
  }
  td, a { font-size: .875rem; }
}
