---
layout: base
---

<div class="blog-page grid-wrapper">
  <div class="grid__item width-12-12"><h1 class="title">Wild<strong>Fly</strong> Project Blog</h1></div>
  

  <div class="grid__item width-10-12">
    {% for post in site.posts %}
      <div class="blog-list-item grid-wrapper">
        <div class="post-title random-color grid__item width-12-12">
          <h2><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h2>
        </div>
        <div class="grid__item width-6-12">By {{ post.author }} | {{ post.date | date: '%B %d, %Y' }}</div>
        <div class="grid__item width-6-12">{% include share-page.html %}</div>
        <div class="grid__item width-12-12">
          <p>Lorem ipsum dolor sit amet, at dicunt maiorum pri. Augue graece ex eum. Qui timeam probatus ad. Sit ne illum mazim principes, pri eligendi tincidunt eu.<br/>Per viderer fierent moderatius id, graeco democritum est te, eam at velit mundi. Qui postulant expetenda neglegentur ut. Id aliquam tibique vis, vel veniam eloquentiam ut, cum no modo dicit. Idque choro mei ne, qui no viris dolorem, assum affert appellantur an eos. Ex reque fuisset moderatius mel, at affert copiosae mei. Discere adolescens ad mei, quis affert tritani no cum.</p>
        </div>
        <div class="grid__item width-12-12"><a class="dark-background" href="{{site.baseurl}}{{ post.url }}">Read More ></a></div>
      </div>
    {% endfor %}
  </div>
  


  <div class="grid__item width-2-12"></div>
</div>


