---
layout: base
---

<div class="blog-page grid-wrapper">
  <div class="grid__item width-12-12"><h1 class="title">Wild<strong>Fly</strong> Project Blog</h1></div>
  

  <div class="grid__item width-10-12">
    {% for post in site.posts %}
      <div class="blog-list-item grid-wrapper">
        <div class="post-title grid__item width-12-12">
          <h2><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h2>
        </div>
        <div class="grid__item width-6-12 width-12-12-m">
          <p class="byline">By {{ post.author }} | {{ post.date | date: '%B %d, %Y' }}</p>
        </div>
        <div class="grid__item width-6-12 width-12-12-m">{% include share-page.html %}</div>
        <div class="grid__item width-12-12">
          <p>{{ post.content | strip_html | truncatewords: 150 }}</p>
        </div>
        <div class="grid__item width-12-12"><a href="{{site.baseurl}}{{ post.url }}">Read More ></a></div>
      </div>
    {% endfor %}
  </div>
  


  <div class="grid__item width-2-12"></div>
</div>


