---
layout: base
---

<div class="docs-page grid-wrapper">
  <div class="grid__item width-12-12 docs-v-icons">
    <img src="{{site.baseurl}}/assets/img/docs/wildfly_icons_docs-13-active.png">
    <img src="{{site.baseurl}}/assets/img/docs/wildfly_icons_docs-12-inactive.png">
    <img src="{{site.baseurl}}/assets/img/docs/wildfly_icons_docs-11-coming.png">
    <img src="{{site.baseurl}}/assets/img/docs/wildfly_icons_docs-10-coming.png">
    <img src="{{site.baseurl}}/assets/img/docs/wildfly_icons_docs-09-coming.png">
    <img src="{{site.baseurl}}/assets/img/docs/wildfly_icons_docs-08-coming.png">
  </div>
  <div class="grid__item width-12-12"><h1 class="title">{{page.title}}</h1></div>
  <div class="grid__item width-3-12 doc-toc">{% include toc.html html=content class='inline_toc' %}</div>
  <div class="grid__item width-9-12 doc-content">{{ content }}</div>
</div>


