---
layout: base
---

<div class="docs-page grid-wrapper">
  <div class="grid__item width-12-12 docs-v-icons">
    <a href="{{site.baseurl}}/docs/14/" ><img src="{{site.baseurl}}/assets/img/docs/wildfly_icons_docs-14-{% if page.url contains '/14/' %}active{% else %}inactive{% endif %}.png"></a>
    <a href="{{site.baseurl}}/docs/13/" ><img src="{{site.baseurl}}/assets/img/docs/wildfly_icons_docs-13-{% if page.url contains '/13/' %}active{% else %}inactive{% endif %}.png"></a>
    <a href="https://docs.wildfly.org/12/" target="_blank"><img src="{{site.baseurl}}/assets/img/docs/wildfly_icons_docs-12-{% if page.url contains '/12/' %}active{% else %}inactive{% endif %}.png"></a>
    <img src="{{site.baseurl}}/assets/img/docs/wildfly_icons_docs-11-coming.png">
    <img src="{{site.baseurl}}/assets/img/docs/wildfly_icons_docs-10-coming.png">
    <img src="{{site.baseurl}}/assets/img/docs/wildfly_icons_docs-09-coming.png">
    <img src="{{site.baseurl}}/assets/img/docs/wildfly_icons_docs-08-coming.png">
  </div>
  <div class="grid__item width-12-12"><h1 class="title">{{page.title}}</h1></div>
  <div class="grid__item width-3-12 doc-toc">{% include toc.html html=content class='inline_toc' %}</div>
  <div class="grid__item width-9-12 doc-content">{{ content }}</div>
</div>


