---
layout: base
---

<div class="wildfly-downloads">
  <div class="grid-wrapper">
    <div class="width-12-12 ">
      <h2>Wild<strong>Fly</strong> 13 is now available</h2>
      <div class="download-ctas">
        <a href="" class="button-cta">Download the Zip</a>
        <a href="" class="button-cta">Download the TGZ</a>
      </div>
      {% for versionId in site.data.downloads.wildfly_versions %}
      <div class="grid-wrapper version-row">
        <div class="width-2-12">
          <h2>{{ versionId.version }}</h2>
        </div>
        <div class="width-10-12">
          <div class="grid-wrapper">
            {% for entry in versionId.release %}
            <div class="width-6-12 version-table">
              <table class="tg">
                <tr>
                  <th class="" colspan="3"><div class="version-name {% if entry.type == 'Final' %}final{% endif %}">{{entry.type}}<span class="release-date">{{entry.release_date}}</span></div>
                </tr>
                {% for releaseItem in entry.item %}
                <tr>
                  <td class="description">{{releaseItem.description}}</td>
                  <td class="licence">{{releaseItem.licence}}</td>
                  <td class="links">
                    {% for releaseFormat in releaseItem.links %}
                    <a href="{{releaseFormat.url}}" class="dark-background">{{releaseFormat.format}}</a>
                    {% endfor %}
                  </td>
                </tr>
                {% endfor %} 
              </table>
            </div>
            
            {% endfor %}
          </div>
        </div>

      </div>
      {% endfor %}

      
    </div>
  </div>
</div>