---
layout: base
---

<div class="wildfly-downloads">
  <div class="grid-wrapper">
    <div class="grid__item width-12-12 ">
      {% for latestVersion in site.data.downloads.latest_version %}
        <h1>Wild<strong>Fly</strong> {{ latestVersion.version_shortname }} is now available</h1>
        <div class="download-ctas">
          {% for cta in latestVersion.ctas %}
            <a href="{{ cta.url }}" class="button-cta">{{ cta.cta_text }}</a>
          {% endfor %} 
        </div>
      {% endfor %} 
      <div class="page-subtitle">
        <h4>The technology behind Wild<strong>Fly</strong> is also available in <a href="https://www.redhat.com/en/technologies/jboss-middleware/application-platform" target="_blank">JBoss Enterprise Application Platform 7</a>. JBoss EAP is a hardened enterprise subscription with Red Hat’s world-class support, long multi-year maintenance cycles, and exclusive content. <a href="https://developers.redhat.com/register" target="_blank">Sign-up with Red Hat</a> to download a no-cost 1-year development license.</h4>
        <a href="https://developers.redhat.com/products/eap/download/" class="button-cta secondary" target="_blank">Download Red Hat EAP</a>
      </div>
      {% for versionId in site.data.downloads.wildfly_versions %}
      <div class="grid-wrapper version-row mobile-fullwidth">
        <div class="grid__item width-2-12 version-id">
          <h2>{{ versionId.version }}</h2>
        </div>
        <div class="grid__item width-10-12 version-content">
          <div class="grid-wrapper">
            {% for entry in versionId.release %}
            <div class="grid__item width-6-12 version-table">
              <table class="tg">
                <tr>
                  <th class="" colspan="3"><div class="version-name {% if entry.type == 'Final' %}final{% endif %}">{{entry.type}}<span class="release-date">{{entry.release_date}}</span></div>
                </tr>
                {% for releaseItem in entry.item %}
                <tr>
                  <td class="description">{{releaseItem.description}}</td>
                  <td class="licence">{{releaseItem.licence}}</td>
                  <td class="links">
                    {% for releaseFormat in releaseItem.links %}
                    <a href="{{releaseFormat.url}}">{{releaseFormat.format}}</a>
                    {% endfor %}
                  </td>
                </tr>
                {% endfor %}
              </table>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>